.partners {
  width: 100%;
  height: 530px;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  @media (max-width: 1000px) {
    padding: 30px 0;
    height: 620px;
  }
  @media (max-width: 800px) {
    height: 1250px;
  }

  &__list {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px 20px;
    margin: 45px 0;
    @media (max-width: 1000px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 800px) {
      grid-template-columns: 1fr;
    }
  }
  &__item {
    align-self: center;
    width: 100%;
    height: 120px;
    @media (max-width: 1000px) {
      margin: 0 auto;
      width: 60%;
      height: 120px;
    }
    @media (max-width: 800px) {
      margin: 0 auto;
      width: 200px;
      height: 120px;
    }
    &-1 {
      background: url("../img/A.png") center/cover no-repeat;
    }
    &-2 {
      background: url("../img/B.png") center/cover no-repeat;
    }
    &-3 {
      background: url("../img/E.png") center/cover no-repeat;
    }
    &-4 {
      background: url("../img/P.png") center/cover no-repeat;
    }
    &-5 {
      background: url("../img/S.png") center/cover no-repeat;
    }
    &-6 {
      background: url("../img/U.png") center/cover no-repeat;
    }
    &-7 {
      background: url("../img/K.png") center/cover no-repeat;
    }
    &-8 {
      background: url("../img/L.png") center/cover no-repeat;
    }
  }

  &__button {
    text-decoration: none;
    background-color: #ffffff;
    outline: none;
    color: #4086ba;
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    border: 1px solid;
    border-image: linear-gradient(
      180deg,
      rgba(64, 134, 186, 1) 0%,
      rgba(70, 157, 222, 1) 70%,
      rgba(81, 172, 240, 1) 100%
    );
    border-image-slice: 1;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    overflow: hidden;
    z-index: 5;
    transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    @media (max-width: 861px) {
      font-size: 16px;
    }
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 0;
      width: 100%;
      z-index: -1;
      color: white;
      background: linear-gradient(
        180deg,
        rgba(64, 134, 186, 1) 0%,
        rgba(70, 157, 222, 1) 70%,
        rgba(81, 172, 240, 1) 100%
      );
      transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    &:hover {
      background: rgba(255, 255, 255, 0);
      color: #ffffff;
    }
    &:hover:before {
      bottom: 0%;
      top: auto;
      height: 100%;
    }
  }
}
