body {
  min-width: 320px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
  @media (max-width: 1200px) {
      width: 100%;
  }
}

@import "../src/styles/reset.sass";
@import "../src/styles/fonts.scss";
@import "../src/styles/keyframes.scss";
@import "../src/styles/header.scss";
@import "../src/styles/menu.scss";
@import "../src/styles/about.scss";
@import "../src/styles/advantages.scss";
@import "../src/styles/footer.scss";

